#date {
  list-style: none;
  text-align: right;
  font-family: aktiv-grotesk, sans-serif;
  color: rgb(221, 149, 16);
  font-weight: 700;
}
.container {
  margin-top: 35px;
  border-style: groove;
  border-width: fixed;
  border-width: 5px;
}
.currentTemp:hover {
  transition: ease-in-out 200ms;
}
.currentTemp {
  transition: 0.3s;
}
#icon {
  display: block;
}
.newTemperature {
  color: #ff7043;
  font-family: aktiv-grotesk, sans-serif;
  font-style: normal;
  font-size: 70px;
  font-weight: 400;
  display: block;
}
.degree {
  color: #ffa726;
  font-family: aktiv-grotesk, sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  display: inline;
}
#changeCity {
  font-family: aktiv-grotesk, sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #5a6275;
}
h4 {
  font-family: aktiv-grotesk, sans-serif;
  font-size: 23px;
  font-weight: thin;
  color: #5a6275;
}
.smalltext,
.smalltext-2 {
  font-size: 10px;
}
.smalltext-2 {
  margin: 0;
  margin-top: 0;
}
.titletop {
  text-align: center;
}
.day,
.temp {
  text-align: center;
}
.pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.author,
.gitHub,
.netlify {
  color: blue;
}
#description {
  text-transform: capitalize;
}
#center1 {
  border-style: groove;
  border-color: #e5e7eb;
  border-radius: 3px;
  border-width: 1;
  margin-top: 0px;
  padding: 40px;
}
#submit-button {
  border-style: groove;
  background: #0b5ed7;
  color: white;
  border-radius: 3px;
  font-family: aktiv-grotesk, sans-serif;
  font-size: 16px;
  font-weight: thin;
}
a {
  text-decoration: none;
}
.footer2 {
  text-align: center;
}
a {
  text-decoration: none;
}
.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}
